@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');
@import url('../colors.css');
body
{
    font-family: 'Raleway', sans-serif;
}

.img-panel img
{
    width: 100%;
    height: auto;
}

#logo-panel
{
    max-width: 240px;
}

.full-container
{
    padding-top: 99px;
    box-sizing: border-box;
}

.screen-container
{
    width: 80%;
    margin: auto;
}

.full-screen-container, .full-screen-container-static
{
    height: 100vh;
}

.half-screen-container, .half-screen-container-static
{
    height: 60vh;
}

.carousel-inner, 
.carousel-item
{
    height: 100% !important;
}

.carousel-item-content
{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 100%; */
    position: relative;
}

#cover-container
{
    background-color: var(--dark-green);
    position: relative;
}

.title-container
{
    position: absolute;
    top: 40vh;
    transform: translateX(calc(40vw - 50%));
    padding: 3rem 0px;
    max-width: 90%;
}

.title-container h1
{
    font-weight: 100;
    font-size: 6rem;
    width: 100%;
    text-align: center;
}

.title-container p
{
    font-weight: 200;
    font-size: 2rem;
    text-align: center;
}


#cover-container .title-container
{
    border-top: #f8f9fa solid 2px;
    border-bottom: #f8f9fa solid 2px;
    
}

.exclusive-item-card
{
    position: absolute;
    top: 5vh;
    right: 10%;
    height: 80%;
    width: 30%;
    padding: 3rem 2rem;
    background-color: var(--crystal-75);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.exclusive-link
{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 1.3rem;
}

#main-options
{
    color: #f8f9fa;
    font-size: 2rem;
    font-weight: 200;
    position: absolute;
    bottom: 10vh;
    transform: translateX(calc(40vw - 50%));
    max-width: 90%;
}

#main-options p
{
    transition: 0.3s;
}
#main-options p:hover
{
    background-color: rgba(248,249,250,0.75);
    color: rgba(25,135,84,0.5);
    font-weight: 400;
    cursor: pointer;

}

.menu-row .col
{
    margin-bottom: 1rem !important;
}

#menu-intro .card
{
    margin: auto;
    min-height: 100%;
}

.card-img-panel 
{
    width: 100%; 
    height: 12rem;
    position: relative;
    overflow: hidden;
  }

.card-img-panel img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card-text
{
    text-align: justify;
}

.section-title
{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
}

.card-pricing{

    display: flex;
    flex-direction: column;
    justify-content: end;
}

.pricing-buttons
{
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1390px) {

    .exclusive-item-card
    {
        
        top: 0;
        right: 0;
        height: 100%;
        width: 40%;
    }

    .title-container
    {
        top: 35vh;
    }

    .title-container h1
    {
        font-size: 5rem;
    }

    .title-container p
    {
        font-size: 1.75rem;
    }
    #main-options
    {
        bottom: 5vh;
    }
}

@media (max-width: 1280px) {

    .exclusive-item-card
    {
        width: 50%;
    }

    .title-container
    {
        top: 35vh;
    }

    .title-container h1
    {
        font-size: 5rem;
    }

    .title-container p
    {
        font-size: 1.75rem;
    }
}

@media (max-width: 990px) {

    .full-screen-container, .half-screen-container
    {
        height: auto;
    }

    .full-screen-container-static, .half-screen-container-static
    {
        width: 94%;
    }

    .title-container
    {
        transform: translateX(calc(47vw - 50%));
        top: 40vh;
    }
    

    .title-container h1
    {
        font-size: 4rem;
    }

    .title-container p
    {
        font-size: 2rem;
    }

    #main-options
    {
        transform: translateX(calc(47vw - 50%));
        font-size: 2.5rem;
     
    }



}

@media (max-width: 760px) {

    .title-container
    {
        top: 30vh;
    }

    .title-container h1
    {
        font-size: 3.5rem;
    }

    .title-container p
    {
        font-size: 1.2rem;
    }

    #main-options
    {
        bottom: 15vh;
    }

    #logo-panel
    {
        max-width: 65vw;
    }

    .exclusive-item-card
    {
        position: absolute;
        bottom: 0;
        top: auto;
        height: 100%;
        width: 100%;
        background-color: var(--crystal-75);
    }

    #best-dishes .carousel-control-next-icon,
    #best-dishes .carousel-control-prev-icon
    {
        background-color: var(--dark-green);
    }
}
@media (max-width: 576px) {

    #main-options
    {
        bottom: 5vh;
        font-size: 1.5rem;
    }
}
